/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
    color: #333;
}

/* Tipografia */
h1, h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
}

/* Inputs */
input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    width: 100%;
    max-width: 400px;
}

/* Cabeçalho da página */
.header {
    height: 160px;
    padding: 20px;
    background-color: #673ab7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h3 {
    color: #fff;
    margin: 0;
}

/* Formulário */
.form-container {
    background-color: #fdfdfd;
    max-width: 600px;
    width: 90%;
    margin: -62px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
